<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--icon-->
    <link
      rel="shortcut icon"
      href="https://i.ibb.co/pfmcLT5/iphone.png"
    />
    <!--CSS-->
    <link rel="stylesheet" href="/css/styles.css"/>
    <!--Bootstrap-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- Sweetalert -->
    <script src="sweetalert2.all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <title>SmartiFy</title>
  </head>
  <body class="bg-dark text-light">

    <div class="container fade-in">
      <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4">
        <div class="col-md-3 mb-2 mb-md-0">
          <a href="/" class="d-inline-flex text-decoration-none">
            <span class="logo text-light">SmartiFy</span>
          </a>
        </div>
    
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link px-2">Inicio</a></li>
          <li><a href="/smartphones" class="nav-link px-2 text-light">Smartphones</a></li>
          <li><a href="/nosotros" class="nav-link px-2 text-light">Nosotros</a></li>
          <li><a href="/contacto" class="nav-link px-2 text-light">Contacto</a></li>
        </ul>
    
        <div class="col-md-3 text-end">
          <% if (login) { %>
            <button id="logoutButton" type="button" class="btn btn-outline-light rounded-pill me-2">Cerrar sesión</button>
          <% } else { %>
            <button type="button" class="btn btn-outline-light rounded-pill me-2" onclick="location.href='/register';">Registrarse</button>
          <% } %>
    
          <% if (login) { %>
            <button class="btn btn-light rounded-pill me-2">
              <%= name %>
            </button>
          <% } else { %>
            <button class="btn btn-light rounded-pill" onclick="location.href='/login';">Iniciar sesión</button>
          <% } %>
        </div>
      </header>
    </div>    
  
    <div class="container col-xxl-8 pt-0 d-flex justify-content-center hero-container">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5 justify-content-center">
        <div class="col-10 col-sm-8 col-lg-6 d-flex justify-content-center">
          <img src="/img/phone2.jpg" class="d-block mx-auto img-fluid hero-fade-in" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6 text-center text-lg-start">
          <h1 class="display-5 fw-bold lh-1 mb-3 text-light hero-title">iPhone 16 pro</h1>
          <p class="lead text-light hero-text">El iPhone 16 Pro tiene un sofisticado diseño de titanio grado 5 con un nuevo acabado microarenado. Como el titanio es uno de los metales con mayor relación peso/dureza, este modelo es increíblemente resistente y liviano. Además, viene en cuatro colores que se robarán todas las miradas, como el nuevo titanio del desierto.</p>
          <div class="d-grid gap-2 d-md-flex justify-content-center justify-content-lg-start">
            <button type="button" class="btn btn-primary btn-lg rounded-pill px-4 me-md-2 hero-button">Ver precios</button>
          </div>
        </div>
      </div>
    </div>

    <div class="container d-flex justify-content-center flex-wrap mt-5">
      <div class="card p-3 bg-dark text-light m-2 shadow-lg border border-light" style="width: 22rem;">
        <img src="img/15-por-ciento.png" alt="Oferta" width="32" class="mb-2">
          <div class="about-product text-center mt-2">
              <img src="img/S24-ULTRA.webp" width="150">
              <div>
                  <h4>Samsung Galaxy S24 Ultra</h4>
                  <h6 class="mt-0 text-muted">256 GB/ 512 GB/ 1024 GB</h6>
              </div>
          </div>
          <div class="stats mt-2">
              <div class="d-flex justify-content-between p-price"><span>Precio normal</span><span>$1.654.990</span></div>
              <div class="d-flex justify-content-between p-price"><span>Pro stand</span><span>$999</span></div>
              <div class="d-flex justify-content-between p-price"><span>Vesa Mount Adapter</span><span>$199</span></div>
          </div>
          <div class="d-flex justify-content-between total font-weight-bold mt-4"><span>Total</span><span>$7,197.00</span></div>
  
          <!-- Botones centrados -->
          <div class="d-flex justify-content-center mt-3">
              <button class="btn btn-outline-light mx-2">Agregar al carrito</button>
              <button class="btn btn-primary mx-2">Comprar</button>
          </div>
      </div>
  
      <div class="card p-3 bg-dark text-light m-2 shadow-lg border border-light" style="width: 22rem;">
        <img src="img/20-por-ciento.png" alt="Oferta" width="32" class="mb-2">
          <div class="about-product text-center mt-2">
              <img src="img/PIXEL9-PRO.webp" width="150">
              <div>
                  <h4>Google Pixel 9 Pro</h4>
                  <h6 class="mt-0 text-muted">128 GB / 256 GB</h6>
              </div>
          </div>
          <div class="stats mt-2">
              <div class="d-flex justify-content-between p-price"><span>Precio normal</span><span>$1.182.261</span></div>
              <div class="d-flex justify-content-between p-price"><span>Pro stand</span><span>$999</span></div>
              <div class="d-flex justify-content-between p-price"><span>Vesa Mount Adapter</span><span>$199</span></div>
          </div>
          <div class="d-flex justify-content-between total font-weight-bold mt-4"><span>Total</span><span>$7,197.00</span></div>
  
          <!-- Botones centrados -->
          <div class="d-flex justify-content-center mt-3">
              <button class="btn btn-outline-light mx-2">Agregar al carrito</button>
              <button class="btn btn-primary mx-2">Comprar</button>
          </div>
      </div>
  
      <div class="card p-3 bg-dark text-light m-2 shadow-lg border border-light" style="width: 22rem;">
        <img src="img/20-por-ciento.png" alt="Oferta" width="32" class="mb-2">
          <div class="about-product text-center mt-2">
              <img src="img/XIAOMI14-ULTRA.webp" width="150">
              <div>
                  <h4>Xiaomi 14 Ultra</h4>
                  <h6 class="mt-0 text-muted">512 GB</h6>
              </div>
          </div>
          <div class="stats mt-2">
              <div class="d-flex justify-content-between p-price"><span>Precio normal</span><span>$1.097.813</span></div>
              <div class="d-flex justify-content-between p-price"><span>Pro stand</span><span>$999</span></div>
              <div class="d-flex justify-content-between p-price"><span>Vesa Mount Adapter</span><span>$199</span></div>
          </div>
          <div class="d-flex justify-content-between total font-weight-bold mt-4"><span>Total</span><span>$7,197.00</span></div>
  
          <!-- Botones centrados -->
          <div class="d-flex justify-content-center mt-3">
              <button class="btn btn-outline-light mx-2">Agregar al carrito</button>
              <button class="btn btn-primary mx-2">Comprar</button>
          </div>
      </div>
  </div>
  
  
    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  
    <script>
      const logoutButton = document.getElementById('logoutButton');
  
      logoutButton.addEventListener('click', async () => {
        try {
          const response = await fetch('/logout', {
            method: 'GET'
          });
  
          const result = await response.json();
  
          if (result.success) {
            Swal.fire({
              title: 'Sesión Cerrada',
              text: result.message,
              icon: 'success',
              confirmButtonColor: '#3085d6',
              confirmButtonText: 'Ok'
            }).then(() => {
              // Redirects to the main page
              window.location.href = result.redirect;
            });
          } else {
            Swal.fire({
              title: 'Error',
              text: 'Ocurrió un problema al cerrar sesión.',
              icon: 'error',
              confirmButtonColor: "#d33",
              confirmButtonText: 'Intentar de nuevo'
            });
          }
        } catch (error) {
          Swal.fire({
            title: 'Error',
            text: 'Ocurrió un problema al cerrar sesión.',
            icon: 'error',
            confirmButtonText: 'Intentar de nuevo'
          });
        }
      });

      // animation navbar
      window.addEventListener('load', () => {
        document.querySelector('.container').classList.add('fade-in');
      });

      //animation hero section
      window.addEventListener('load', () => {
        document.querySelector('.hero-container').classList.add('hero-fade-in');
        document.querySelector('.hero-title').classList.add('hero-fade-in-delay-1');
        document.querySelector('.hero-text').classList.add('hero-fade-in-delay-2');
        document.querySelector('.hero-button').classList.add('hero-fade-in-delay-3');
      });

    </script>
  </body>
  
</html>
